{
    "presets": ["@babel/preset-env"],
    "env":{
        "production":{
            "plugins": ["@babel/runtime"]
        },
        "development": {
            "plugins": ["@babel/plugin-transform-runtime"]
        }
    }
   
}